<?xml version="1.0" ?>
<model>
  <name>dynamic_obstacle</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Lihan Chen2004</name>
    <email>lihanchen2004@163.com</email>
  </author>
  <description>
    A simple dynamic obstacle model for testing navigation algorithms. It consists of a cylinder that moves back and forth along a straight line.
  </description>
</model>
